# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Farbcodes/.vs/Farbcodes/v14/.suo
/Farbcodes/Debug/Farbcodes.ilk
/Farbcodes/Debug/Farbcodes.pdb
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/CL.command.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/CL.read.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/CL.write.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/Farbcodes.lastbuildstate
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/link.command.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/link.read.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.tlog/link.write.1.tlog
/Farbcodes/Farbcodes/Debug/Farbcodes.log
/Farbcodes/Farbcodes/Debug/vc140.idb
/Farbcodes/Farbcodes/Debug/vc140.pdb
/Farbcodes/Farbcodes/Farbcodes.vcxproj
/Farbcodes/Farbcodes/Farbcodes.vcxproj.filters
/Farbcodes/Farbcodes.sln
/Farbcodes/Farbcodes.VC.db
/Farbcodes/Farbcodes.VC.VC.opendb
